body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #E8F5E9; /* Verde deschis */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .reset-container {
        background-color: #FFF8E1; /* Maro deschis */
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%; /* Modificare lățime */
        max-width: 400px; /* Limitare la 400px */
    }

    .reset-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #4CAF50; /* Verde */
    }

    .reset-container form {
        display: flex;
        flex-direction: column;
    }

    .reset-container input {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #8D6E63; /* Maro */
        border-radius: 5px;
    }

    .reset-container input[type="submit"] {
        background-color: #4CAF50; /* Verde */
        color: #FFFFFF; /* Alb */
        border: none;
        cursor: pointer;
    }

    .reset-container input[type="submit"]:hover {
        background-color: #388E3C; /* Verde închis */
    }