<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Schimbare parola</title>
    <link rel="stylesheet" th:href="@{/css/changepassword.css}" >

    <script th:if="${popupMessage}">
    /*<![CDATA[*/
    alert("[[${popupMessage}]]");
    /*]]>*/
  </script>
</head>
<body>
    <div class="change-container">
        <h2>Schimbare parola</h2>
        <form th:action="@{/changepassword}" method="post">
            <input type="password" name="password" placeholder="Parola actuala" required>
            <input type="password" name="newPassword" placeholder="Noua parola" required>
            <input type="password" name="confirmPassword" placeholder="Confirma noua parola" required>
            <input type="submit" value="Schimba parola">
        </form>
    </div>
</body>
</html>
